@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.6;
  color: #fff;
  background: #fff;
}

.logo {
  display: block;
  height: 100%;
}
@media screen and (min-width: 576px) {
  .logo {
    background: #595959;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    height: auto;
    background: transparent;
    margin-right: 38px;
  }
}

.title {
  font-family: "Fjalla One", Arial, sans-serif;
  font-size: 29px;
  text-transform: uppercase;
}

.main-nav {
  padding: 5px 10px;
  background: url(../images/nav-back.jpg) 0;
  vertical-align: middle;
}
@media screen and (min-width: 576px) {
  .main-nav {
    width: 70%;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    padding: 0;
    margin-top: 9px;
    width: auto;
    background-image: none;
    background: #f5c506;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  display: inline-block;
  padding: 3px 6px 9px 28px;
}
.main-nav__item_person::before {
  content: "";
  font-family: "icomoon" !important;
  width: 25px;
  height: 25px;
  display: inline-block;
  color: #b99403;
  font-size: 25px;
  margin-right: 12px;
}
.main-nav__item_setting::before {
  content: "";
  font-family: "icomoon" !important;
  width: 25px;
  height: 25px;
  display: inline-block;
  color: #b99403;
  font-size: 25px;
  margin-right: 12px;
}
.main-nav__item_email::before {
  content: "";
  font-family: "icomoon" !important;
  width: 25px;
  height: 25px;
  display: inline-block;
  color: #b99403;
  font-size: 25px;
  margin-right: 12px;
}
.main-nav__link {
  text-transform: uppercase;
  font-size: 17px;
  color: #9b7d08;
}

.header {
  background: url(../images/main-pic.jpg) 50% 0 no-repeat;
  background-size: cover;
  font-family: "Noto Sans", Arial, sans-serif;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 25px 0 66px;
  }
}
.header__logo-description {
  display: none;
  font-size: 13px;
  color: #b9b7b5;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header__logo-description {
    display: block;
    padding: 6% 0 0;
  }
}
.header__container {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 10px;
  }
}
@media screen and (min-width: 576px) {
  .header__header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__header-top {
    align-items: center;
    margin-bottom: 83px;
  }
}
@media screen and (min-width: 576px) {
  .header__logo {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    width: auto;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__header-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__col {
    width: 50%;
  }
}
.header__col_title {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__col_title {
    display: block;
    font-size: 63px;
    text-transform: uppercase;
  }
}
.header__title {
  color: #f5c506;
  margin: 0;
  font-size: 63px;
  font-weight: 400;
}
.header__subtitle {
  margin: 0;
  font-weight: 400;
}

.services {
  background: url(../images/services-back.jpg);
  text-align: center;
  box-shadow: 0px 10px 6px -10px #000000;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .services__rows {
    display: flex;
    flex-wrap: wrap;
  }
}
.services__col {
  padding: 0 25px 26px 25px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .services__col {
    width: 33.3333%;
    border-right: 2px solid #d2d2d2;
  }
  .services__col:last-child {
    border: none;
  }
}
.services__title {
  font-size: 23px;
  text-transform: uppercase;
  padding-top: 143px;
  color: #000;
  position: relative;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .services__title {
    font-size: 27px;
  }
}
.services__title_design::before {
  content: "";
  font-family: "icomoon" !important;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5c506;
  font-size: 93px;
}
.services__title_customise::before {
  content: "";
  font-family: "icomoon" !important;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5c506;
  font-size: 93px;
}
.services__title_free::before {
  content: "";
  font-family: "icomoon" !important;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5c506;
  font-size: 93px;
}

.pictures {
  background: #fff;
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  .pictures {
    background: #f5c506;
    padding: 53px 0 128px;
  }
}
.pictures__title {
  display: none;
  margin: 0 0 36px;
  font-size: 37px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .pictures__title {
    display: block;
  }
}
.pictures__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pictures__col {
  background: #ec9e03;
  width: 100%;
  margin-bottom: 15px;
}
@media screen and (min-width: 576px) {
  .pictures__col {
    width: 48%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .pictures__col {
    width: 32%;
  }
}
.pictures__col:first-child {
  padding: 13px 28px 28px 23px;
}
.pictures__col:last-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .pictures__col:last-child {
    display: block;
  }
}
.pictures__text {
  font-size: 24px;
  margin: 0;
}

.instruction {
  background: #474747;
  padding: 40px 0 75px;
}
@media screen and (min-width: 768px) {
  .instruction {
    padding: 32px 0 50px;
    background: url(../images/instruction-back.png);
  }
}
.instruction__title {
  margin: 0 0 45px;
  color: #f5c506;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
@media screen and (min-width: 576px) {
  .instruction__title {
    font-size: 39px;
  }
}
@media screen and (min-width: 768px) {
  .instruction__title {
    font-size: 43px;
  }
}
.instruction__rows {
  position: relative;
}
@media screen and (min-width: 768px) {
  .instruction__rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.instruction__col {
  margin-bottom: 10px;
  padding: 33px 1px 1px 59px;
}
@media screen and (min-width: 768px) {
  .instruction__col {
    width: 45%;
  }
}
.instruction__description {
  border-radius: 50%;
  position: absolute;
  top: -48px;
  left: -2px;
  background: #f5c506;
  width: 116px;
  height: 116px;
  font-size: 19px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 116px;
  text-align: center;
  text-transform: uppercase;
}
.instruction__list {
  list-style: none;
  margin: 0;
}
.instruction__item {
  font-size: 22px;
  color: #a9a9a7;
  position: relative;
  margin-bottom: 12px;
}
.instruction__item::before {
  content: "•";
  color: #f5c506;
  font-size: 64px;
  position: absolute;
  top: -36px;
  left: -37px;
}

.footer {
  background: #4c4c4c;
  padding: 0 0 20px;
  text-align: center;
  box-shadow: -3px -11px 9px -10px #000000;
}
.footer__about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer__logo {
  background: transparent;
  width: 40%;
  margin-left: 88px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 18%;
  }
}
.footer__description {
  margin-right: 96px;
  color: #b9b7b5;
}
.footer__site {
  color: #b9b7b5;
}

/*# sourceMappingURL=style.css.map */
