@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oy9www');
  src:  url('fonts/icomoon.eot?oy9www#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oy9www') format('truetype'),
    url('fonts/icomoon.woff?oy9www') format('woff'),
    url('fonts/icomoon.svg?oy9www#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before {
  content: "\e903";
}
.icon-cloud-download:before {
  content: "\e902";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-leaf:before {
  content: "\e9a4";
}
