.footer
    background: #4c4c4c
    padding: 0 0 20px
    text-align: center
    box-shadow: -3px -11px 9px -10px #000000
    &__about
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-items: center
    &__logo
        background: transparent
        width: 40%
        margin-left: 88px
        +medium
            width: 18%
    &__description
        margin-right: 96px
        color: #b9b7b5
    &__site
        color: #b9b7b5
        
        