*,
*::before,
*::after
    box-sizing: border-box

.container
    max-width: 1220px
    padding: 0 10px
    margin: 0 auto
img
    width: 100%
    height: 100%
    display: block
a
    text-decoration: none
body 
    font-family: 'Open Sans', sans-serif
    font-size: 17px
    line-height: 1.6
    color: #fff
    background: #fff