.header 
    background: url(../images/main-pic.jpg) 50% 0 no-repeat 
    background-size: cover
    font-family: 'Noto Sans', Arial, sans-serif
    text-align: center
    +medium
        padding: 25px 0 66px
    &__logo-description
        display: none
        font-size: 13px
        color: #b9b7b5
        text-transform: uppercase   
        +medium
            display: block
            padding: 6% 0 0

    &__container
        padding: 0
        +medium
            padding: 0 10px
    &__header-top
        +small 
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        +medium
            align-items: center
            margin-bottom: 83px
    &__logo
        +small
            width: 30%
        +medium
            display: flex
            width: auto
            align-items: center
    &__header-bottom
        +medium
            display: flex
            flex-wrap: wrap
            align-items: center
    &__col
        +medium
            width: 50%
        &_title
            display: none
            +medium 
                display: block
                font-size: 63px
                text-transform: uppercase
    &__title
        color: $colorYellow
        margin: 0
        font-size: 63px
        font-weight: 400
    &__subtitle
        margin: 0
        font-weight: 400
    

    

