.instruction
    background: #474747
    padding: 40px 0 75px
    +medium
        padding: 32px 0 50px
        background: url(../images/instruction-back.png)
    &__title
        margin: 0 0 45px
        color: $colorYellow
        font-size: 30px
        text-align: center
        text-transform: uppercase
        font-weight: 400
        +small
            font-size: 39px
        +medium
            font-size: 43px
    &__rows
        position: relative
        +medium
            display: flex
            flex-wrap: wrap
            justify-content: space-between
    &__col
        margin-bottom: 10px
        padding: 33px 1px 1px 59px
        +medium
            width: 45%
    &__description
        border-radius: 50%
        position: absolute
        top: -48px
        left: -2px
        background: $colorYellow
        width: 116px
        height: 116px
        font-size: 19px
        font-family: 'PT Sans Narrow', sans-serif
        font-weight: 700
        line-height: 116px
        text-align: center
        text-transform: uppercase
    &__list
        list-style: none
        margin: 0
    &__item
        font-size: 22px
        color: #a9a9a7
        position: relative
        margin-bottom: 12px
        &::before
            content: "\2022"
            color: $colorYellow
            font-size: 64px
            position: absolute
            top: -36px
            left: -37px
