.main-nav
    padding: 5px 10px
    background: url(../images/nav-back.jpg) 0
    vertical-align: middle
    +small 
        width: 70%
        display: flex
        align-items: center
    +medium 
        padding: 0
        margin-top: 9px
        width: auto
        background-image: none
        background: $colorYellow
    &__list
        list-style: none
        margin: 0
        padding: 0
    &__item
        display: inline-block
        padding: 3px 6px 9px 28px
        @each $i, $symbol in $nav-ic
            &_#{$i}::before
                content: "#{$symbol}"
                font-family: 'icomoon' !important
                width: 25px
                height: 25px
                display: inline-block
                color: #b99403
                font-size: 25px
                margin-right: 12px
    &__link
        text-transform: uppercase
        font-size: 17px
        color: #9b7d08