.pictures
    background: #fff
    padding: 15px 0
    +medium
        background: $colorYellow
        padding: 53px 0 128px
    &__title
        display: none
        margin: 0 0 36px
        font-size: 37px
        text-transform: uppercase
        text-align: center
        +medium 
            display: block
    &__row
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__col
        background: #ec9e03
        width: 100%
        margin-bottom: 15px
        
        +small
            width: 48%
            margin-bottom: 0
        +medium
            width: 32%
        &:first-child
            padding: 13px 28px 28px 23px
        &:last-child
            display: none
            +medium
                display: block
    &__text
        font-size: 24px
        margin: 0