.services
    background: url(../images/services-back.jpg)
    text-align: center
    box-shadow: 0px 10px 6px -10px #000000
    position: relative
    z-index: 1
    &__rows
        +small
            display: flex
            flex-wrap: wrap
    &__col
        padding: 0 25px 26px 25px
        width: 100%
        +small
            width: 33.3333%
            border-right: 2px solid #d2d2d2
            &:last-child
                border: none
    &__title
        font-size: 23px
        text-transform: uppercase
        padding-top: 143px
        color: #000
        position: relative
        margin: 0
        +medium
            font-size: 27px
        @each $i, $symbol in $services-icSprite
            &_#{$i}::before
                content: "#{$symbol}"
                font-family: 'icomoon' !important
                width: 100px
                height: 100px
                position: absolute
                top: 36%
                left: 50%
                transform: translate(-50%, -50%)
                color: $colorYellow
                font-size: 93px
        